@model IEnumerable<backend.Models.Article>
@using backend.Controllers;

@{
    ViewData["Title"] = "Articles";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var IssueID = Url.ActionContext.RouteData.Values["id"];
    var volume = ArticlesController.VolumeNumber;
    var issue = ArticlesController.IssueNumber;
}

    <h1>Articles | Volume @volume - Issue @issue </h1>

<p>
    <a asp-action="Create" asp-route-id="@IssueID">Create New</a>
</p>
<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Writer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Subtitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PicturePath)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Writer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @if (item.Subtitle != null)
                        {
                            <i class="fas fa-check" style="color: forestgreen"></i>
                        }
                        else
                        {
                            <i class="fas fa-times" style="color: red"></i>
                        }
                    </td>
                    <td>
                        @if (item.PicturePath != null)
                        {
                            <i class="fas fa-check" style="color: forestgreen"></i>
                        }
                        else
                        {
                            <i class="fas fa-times" style="color: red"></i>
                        }
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>