@model Outlook.Models.Core.Models.Volume

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Volume</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FallYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FallYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpringYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpringYear)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>
