@model IEnumerable<backend.Models.Issue>
@using backend.Controllers;

@{
    ViewData["Title"] = "Issues";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var VolumeID = Url.ActionContext.RouteData.Values["id"];

    var volume = IssuesController.VolumeNumber;
}

<h1>Issues | Volume @volume</h1>

<p>
    <a asp-route-id="@VolumeID" asp-action="Create">Create New</a>
</p>
<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IssueNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Theme)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ar_pdf)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.en_pdf)
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IssueNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Theme)
                    </td>
                    <td>
                        @if (item.ar_pdf != null)
                        {
                            <i class="fas fa-check" style="color: forestgreen"></i>
                        }
                        else
                        {
                            <i class="fas fa-times" style="color: red"></i>
                        }
                    </td>
                    <td>
                        @if (item.en_pdf != null)
                        {
                            <i class="fas fa-check" style="color: forestgreen"></i>
                        }
                        else
                        {
                            <i class="fas fa-times" style="color: red"></i>
                        }
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                    <td>
                        <a asp-controller="Articles" asp-action="Index" asp-route-id="@item.Id">Articles</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
