@model IEnumerable<Outlook.Server.Models.Issue>
@using Outlook.Server.Controllers;

@{
    ViewData["Title"] = "Issues";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var VolumeID = Url.ActionContext.RouteData.Values["id"];

    var volume = IssuesController.VolumeNumber;
}

<h1>Issues | Volume @volume</h1>

<p>
    <a asp-route-id="@VolumeID" asp-action="Create">Create New</a>
</p>
<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IssueNumber)
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IssueNumber)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                    <td>
                        <a asp-controller="Articles" asp-action="Index" asp-route-id="@item.Id">Articles</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>
